<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <img src="/img.jpg" style="height: 200px"  alt="">
                        <h1 class="card-title">Welcome, <%= username %>!</h1>
                        <p class="card-text">You have successfully logged in.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
